/*! Created by leon on 18-6-19.  */
@import "project/_imports.less";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{ margin: 0; padding: 0; }
fieldset,img{ border: 0; }
img{vertical-align: top;}
:focus{ outline: 0; }
address,caption,cite,code,dfn,em,strong,th,var,optgroup{ font-style: normal; font-weight: normal; }
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: normal;
    font-family: @font-normal;
}
input,button,textarea,select{ *font-size: 100%; border:none;}
ol,ul,li{ list-style: none; }
b{font-weight: normal;}
table{ border-collapse: collapse; border-spacing: 0; }
i{ font-style: normal;}
:link, :visited, ins{ text-decoration: none; }
.rel{position: relative;}.abs{position: absolute;}.fl{float: left;}.fr{float: right;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
.fr{float: right;}
.tar{text-align: right;}
.tac{text-align: center;}
body {
    font: 14px/1.6 @font-normal;
}

.clearfix { .clearfix(); }
.t-blue{
    color: @blue;
}
.t-blank{
    color: @black;
}
@import "iconfont/iconfont.css";
@import "modal.less";
@import "form.less";
@import "table.less";

.full-block-mod{
    padding: 30px;
    background-color: #fff;
    .Header{
        margin-bottom: 25px;
        .title{
            font-weight: normal;
            color: #333;
            font-size: 18px;
            line-height: 24px;
            float: left;
            strong{
                font-weight: normal;
                font-size: 14px;
                color: #999;
                display: block;
            }
        }
    }
    .commonTitle{
        position: relative;
        height: 36px;
        color: #333;
        font-size: 16px;
        line-height: 36px;
        padding-left: 12px;
        &:after{
            position: absolute;
            content: "";
            left: 0;
            top: 10px;
            width: 4px;
            height: 16px;
            background-color: #008AFF;
        }
    }
}

.input{
    &-placeholder{
        width: 100%;
        height: 36px;
        background-color: rgb(248, 248, 249);
        border: 1px solid rgb(233, 234, 236);
        border-radius: 3px;
        padding: 0 12px;
        line-height: 34px;
        color: #999;
    }
}

.LoadingBox{
    position: relative;
}

.custom-Page{
    text-align: center;
    margin: 22px auto 0;
}

::-webkit-scrollbar{width:8px;height:8px;}
::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{border-radius:999px;border:10px solid #ebedf0;}
::-webkit-scrollbar-track{box-shadow:1px 1px 8px rgba(0,0,0,.2) inset;}
::-webkit-scrollbar-thumb{min-height:20px;background-clip:content-box;border:10px solid #498aff;}
::-webkit-scrollbar-corner{background:transparent;}
.m-25 {margin: 25px;}
.mb-24 {margin-bottom: 24px;}

.Placeholder{
    min-width: 400px;
    padding-top: 260px;
    padding-bottom: 100px;
    background: #fff url(../img/tips/loading.gif) center 60px no-repeat;
    text-align: center;
    font-size: 14px;
    color: #999;
    &.loading{
        background-image: url(../img/tips/loading.gif);
    }
    &.empty{
        background-image: url(../img/tips/empty.gif);
    }
    &.error{
        background-image: url(../img/tips/error.gif);
    }
}

.page-placeholder{
    text-align: center;
    padding: 15px 0;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}