.custom-table{
    .ivu-table{
        font-size: 14px;
        th{
            font-weight: bold;
        }
        tr.ivu-table-row:nth-child(even) td{
            background-color: #f8f8f9;
        }
        .status-success{
            color: #00A85B;
        }
        .status-error{
            color: #FF5151;
        }
        .action-group{
            font-size: 14px;
            .items{
                color: #008AFF;
                margin: 0 6px;
                cursor: pointer;
            }
        }
        .percent-td{
            .percent-wrapper {
                width: 366px;
                margin: 0 auto;
                .percent-type {
                    float: left;
                }
                .percent-line {
                    width: 220px;
                    display: inline-block;
                    float: left;
                }
                .percent-info {
                    display: inline-block;
                    float: right;
                    .highlight {
                        margin-left: 8px;
                        color: #15a3fa;
                        display: inline-block;
                        width: 42px;
                    }
                }
            }
        }
        .ivu-table-tip{
            overflow: hidden;
        }
    }
}